table {
  text-align: center;
  width: 50%;
  min-width: 300px;
  margin: auto;
  border-collapse: collapse;
  margin-top: 50px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

table th,
table td {
  padding: 5px;
}

table th {
  font-weight: 400;
}

table td:first-child {
  text-align: left;
}

table tr.odd {
  background-color: rgb(240, 248, 255);
}
